@background-color: #080A2C;
@background-color-rgba-none: rgba(8, 10, 44, 0);
@background-color-rgba-full: rgba(8, 10, 44, 1);

* {
  box-sizing: border-box;
  -webkit-flex: 1 0;
  flex: 1 0;
  -webkit-user-select: none;
}

html {
  display: flex;
  background: @background-color;
  height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}  

#app {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-left: 100px;

  background: -moz-linear-gradient(top,  @background-color-rgba-full 0%, @background-color-rgba-none 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@background-color-rgba-full), color-stop(100%,@background-color-rgba-none));
  background: -webkit-linear-gradient(top,  @background-color-rgba-full 0%,@background-color-rgba-none 100%);
  background: -o-linear-gradient(top,  @background-color-rgba-full 0%,@background-color-rgba-none 100%);
  background: -ms-linear-gradient(top,  @background-color-rgba-full 0%,@background-color-rgba-none 100%);
  background: linear-gradient(to bottom,  @background-color-rgba-full 0%,@background-color-rgba-none 100%);
}

#console {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  white-space: pre-wrap;
  padding: 5px;
  line-height: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: inherit;
  opacity: 0.4;
  word-break: break-all;
}

#game {
  position: relative;
  color: white;
  font-family: "OCR A Std", monospace;
  font-size: xx-small;
  background: @background-color;
  -webkit-flex: 0 0 400px;
  flex: 0 0 500px;
  overflow: hidden;
  box-sizing: content-box;
  border: 3px solid lighten(@background-color, 15%);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cell {
  background-size: contain;
  flex: 0 0 25%;
  position: relative;
  text-align: center;
  cursor: pointer;

  canvas {
    display: block;
  }
}

.cell-name {
  position: absolute;
  width: 100%;
  top: 40%;
}

.cell.linked_directory {
  background-image: url(../images/linked_directory.png);
  color: #00FFFC;
}
.cell.directory {
  background-image: url(../images/directory.png);
  color: #00FF0D;
}

.cell.script {
  background-image: url(../images/script.png);
  color: #FF5837;
}

.cell.file {
  background-image: url(../images/file.png);
  color: #EAEAEA;
}

.cell.encrypted_file {
  background-image: url(../images/encrypted_file.png);
  color: #FFDA56;
}

.cell.key_file {
  background-image: url(../images/key_file.png);
  color: #FFDA56;
}

.cell-contents {
  height: auto; 
  width: 100%;
}