* {
  box-sizing: border-box;
  -webkit-flex: 1 0;
  flex: 1 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.cell {
  background: grey;
  border: 1px solid green;
  flex: 0 0 25%;
}

.cell.linked_directory {
  background: lightblue;
}
.cell.directory {
  background: blue;
}

.cell.script {
  background: black;
}

.cell.encrypted_file {
  background: orange;
}

.cell.key_file {
  background: yellow;
}

.cell-contents {
  height: auto; 
  width: 100%;
}